<h1>New usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </p>
  <p>
    <%= f.label :senha %><br />
    <%= f.text_field :senha %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', usuarios_path %>
